<!DOCTYPE html>
<html>
<head>

<title>Nick'x AI ChatBot</title>
<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="chat-container">

<h2>Nick'x AI ChatBot 🤖</h2>

<div id="chatbox"></div>

<input id="userInput" type="text" placeholder="Ask me anything...">
<button onclick="sendMessage()">Send</button>

</div>

<script>

function sendMessage(){

let input = document.getElementById("userInput").value;

let chatbox = document.getElementById("chatbox");

chatbox.innerHTML += "<p><b>You:</b> " + input + "</p>";

fetch("/get",{
method:"POST",
headers:{
"Content-Type":"application/json"
},
body:JSON.stringify({message:input})
})
.then(response=>response.json())
.then(data=>{
chatbox.innerHTML += "<p><b>Bot:</b> " + data.reply + "</p>";
});

document.getElementById("userInput").value="";

}

</script>

</body>
</html>
